@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500;1,700&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0;
}

body {
    background-image: url('assets/fundo.jpg');
}

.notify {
    z-index: 10000000000000;
}

a {
    text-decoration: none;
    color: white;
}
a:link {
    text-decoration: none;
   }